<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="noOfThreads" value="10" />
    <add key="noOfStudent" value="50"/>
    <add key="noOfFaculty" value="20" />
    <add key="noOfAdmin" value="10" />
    <add key="noOfMinutes" value="25" />
  </appSettings>
  <connectionStrings>
    <add name="simulator" connectionString="Server=tcp:electionbycounty.database.windows.net,1433;Initial Catalog=simulator;Persist Security Info=False;User ID=ebc@electionbycounty;Password=rsoousn1!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
</configuration>